<div class="detail-container" *ngIf="productDetails!=undefined">
    <div class="product-card">
		<div class="product-details">
			<span class="product-catagory"><h1>Name : {{productDetails.name}}</h1></span>
			<h4><a href="">{{productDetails.heading}}</a></h4>
            <h5>{{productDetails.subheading}}</h5>
			<h5>Stock : {{productDetails.stock}}</h5>
			<h5>Tags : {{productDetails.tags}}</h5>
			<p>{{productDetails.description}}</p>
			<div class="product-bottom-details">
				<div class="product-price"><button type="button" routerLink="/create-product/{{pid}}" >Edit</button>
                <button  (click)="deleteProduct(productDetails.id)">Remove</button>
                </div>
			</div>
		</div>
	</div>
</div>